[DISPLAY]
; Override the icon for this item
Icon = "./.icon"

; Attach a scene by path that will be shown as this item's icon in directory views.
; The static icon may be preferred in some views
DynamicIcon = ""
; Background image of a directory.
Wallpaper = "./.wallpaper"

[LAYOUT]
; Path to the toolkit component or directory to be attached in that part of the window.
; Multiple elements in the array will be placed next to eachother.
Top = []
Middle = ["./"]
Bottom = []

; The header is the top bar that provides window controls, 
; avoid changing it unless necessary
Header = ["toolkit/PathBar", "toolkit/Spacer", "toolkit/MenuBar"]

[VIEW]
; Controls the overall layout
; "GRID" Sort items in a consistent grid
; "GRID" Sort items in a consisent list
; "FREE" Items can be placed anywhere, no sorting
ViewMode = "GRID"

; How to sort items
; "NEWEST" "OLDEST" "ALPHABETICAL"
Sort = "NEWEST"

; Which date value to use for sorting
; "MODIFIED"
SortDateMode = "MODIFIED"

; The Stash is a submenu in FolderView for items that you don't want
; to see often. This will toggle its visibility
ShowStash = false

; Hidden files starting with a . will be put away in the stash
StashDotFiles = true

; Labels will be shown for each Item
ShowLabels = true

; Labels will be next to items
GridLabelsBesidesIcons = false

; "FILL" "LEFT" "CENTER" "RIGHT"
GridHorizontalAlign = "FILL"

; "FILL" "LEFT" "CENTER" "RIGHT
GridVerticalAlign = -1

; Icon size in the grid.
GridSize = 64

; Stores manually placed item positions by name
; Example: "test.txt" : [5, 3]
FreePlacementPositions = { }

; Positions will be precentages of the window's size and not
; Arbitrary coordinates
FreeRelativePositions = true

; In Free view items will be aligned to a grid
FreeAlignToGrid = false


[NAVIGATION]
; Set what happens when navigating to a new location in this window
; "Auto": The system decides
; "InPlace": Replace the current window's location with the new one
; "Window": Open a new window
NavigationType = "Auto"

[META]
; Ignore the .meta configuration for this item.
; This means only the handler configuration will matter
IgnoreMeta = false

[LAUNCH]
; When this window opens, it will be maximized
Maximized = false
