[DISPLAY]
; Override the icon for this item
Icon = "./.icon"

; Attach a scene by path that will be shown as this item's icon in directory views.
; The static icon may be preferred in some views
DynamicIcon = ""
; Background image of a directory.
Wallpaper = "./.wallpaper"

[LAYOUT]
; Path to the toolkit component or scene to be attached in that part of the window.
; Multiple elements in the array will be placed next to eachother.
Top = []
Middle = ["toolkit/FolderView"]
Bottom = []

; The header is the top bar that provides window controls, 
; avoid changing it unless necessary
Header = ["toolkit/PathBar", "toolkit/Spacer", "toolkit/MenuBar"]

[VIEW]
; -1: Control.SIZE_FILL
; 0: Control.SIZE_SHRINK_BEGIN
; 1: Control.SIZE_SHRINK_CENTER
; 2: Control.SIZE_SHRINK_END
GridHorizontalAlign = -1

; -1: Control.SIZE_FILL
; 0: Control.SIZE_SHRINK_BEGIN
; 1: Control.SIZE_SHRINK_CENTER
; 2: Control.SIZE_SHRINK_END
GridVerticalAlign = -1

; Icon size in the grid.
GridSize = 64

; Show hidden files starting with a .
ShowDotfiles = false

; Items in the grid can be given arbitrary positions
ArbitraryPlacement = false

; Stores manually placed item positions by name
; Example: "test.txt" : [5, 3]
ArbitraryPlacementPositions = { }

[NAVIGATION]
; Set what happens when navigating to a new location in this window
; "Auto": The system decides
; "InPlace": Replace the current window's location with the new one
; "Window": Open a new window
NavigationType = "Auto"

[META]
; Ignore the .meta configuration for this item.
; This means only the handler configuration will matter
IgnoreMeta = false

[LAUNCH]
; When this window opens, it will be maximized
Maximized = false
